<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#funciona" aria-expanded="false" aria-controls="multiCOOOOO1"> Intrucciones </button>
    </div>
</div>


<div class="row mb-2 mt-2">
    <div class="col-md-12 collapse multi-collapse" id="funciona">
        <ol>
            <li *ngFor="let steps of instrucciones">{{steps}} </li>
        </ol>
    </div>

</div>