<form class="form-inline" *ngIf="!authService.getUser()">
    <div class="form-group">
        <label for="username">User: (Type <em> user</em>)</label>
        <input type="text" class="form-control" name="username" #username>
    </div>
    <div class="form-group">
        <label for="passowrd">Password: (Type <em> password</em>)</label>
        <input type="password" class="form-control" name="password" #password>
    </div>
    <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar!</a> {{mensajeError}}
</form>
<a class="btn btn-defult" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>