<p>destino-detalle works!</p>
<p>
    Aqui Vemos el Detalle de un Destino de un Viaje!
    <br> {{destino.destinoId}}
    <br> {{destino.nombre}}
</p>

<hr>
<mgl-map 
 [style]="style"
  [zoom]="[2]" 
  [center]="[-75.551012, 10.421185]"
  class="mapbox-map"
  >

  <mgl-control mglScale unit="metric" position="bottom-right"></mgl-control>
  <mgl-control *ngIf="true" mglFullscreen position="top-right"></mgl-control>
  <mgl-control *ngIf="true" mglGeolocate position="top-right"></mgl-control> 

  <mgl-marker
  [lngLat]="[-75.551012, 10.421185]"
  >
      <div onclick="alert('Hola')" class="marker">
          Hola Mundo!
      </div>
  </mgl-marker>

</mgl-map>