<div class="container	content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <app-guia-uso></app-guia-uso>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
                <!-- <form>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
                    </div>
                    <div class="form-group">
                        <label for="Imagen	Url">Imagen Url</label>
                        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
                    </div>
                    <button type="submit" class="btn btn-primary mr-1" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                    <button type="button" class="btn btn-primary" (click)="limpiar(nombre, url)">Limpiar</button>
                </form> -->

            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <!-- <app-destino-viaje 
        *ngFor="let d of destinoApiclient.getAll(); let i=index" 
        [destino]="d" [idx]=i+1 class="col-md-4" 
        (clicked)="elegido($event)"></app-destino-viaje> -->

        <app-destino-viaje *ngFor="let d of getAll(); let i=index" [destino]="d" [idx]="i+1" class="col-md-4" (clicked)="elegido($event,i+1)" (clickedEliminar)="delete($event)" appEspiame></app-destino-viaje>
    </div>

    <hr class="mb-5">
    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates"> {{u}}</li>
        </ul>
    </div>

</div>