<p>vuelos-works!</p>
<div class="navaLink">
    <a [routerLink]="['./main']"> Main</a>
    <a [routerLink]="['./mais-info']"> Mas-Info</a>
    <a [routerLink]="['./',5]"> Vuelo 5</a>
</div>

<router-outlet></router-outlet>